{% extends '_base.html' %}

{% load static %}


{% block content %}

<div class="container-fulid" style="background: black;">
  <div class="row align-items-center mt-5 mb-5 pt-5 pb-5 justify-content-center">
    <div class="col-lg-5 text-center text-lg-end px-4 ">
      <h1 class="text-white display-5 px-5" style="font-weight: bold;">Expect nothing less<p>than perfect</p></h1>
    </div>
    <div class="col-md-6 col-lg-4">
      <p class="text-white text-center text-lg-start m-3 m-lg-0">
        I am always willing to help you
        understand your present technology requirements and provide
        suggestions on your future needs.
      </p>
      <p class=" text-center text-md-center text-lg-start m-3 m-lg-0" style=" font-weight: bold;"><a href="{% url 'contact' %}" style="color: red; text-decoration: none;">Let's discuss you project</a></p>
    </div>
  </div>
</div>


<section class="container mb-lg-5 my-3 mt-4 pt-4">
    <div class="row align-items-center">
      <div class="col-md-5 mb-md-0 mb-grid-gutter"><img class="rounded-3 img-fluid" src="{% static 'images/myphoto.jpg' %}" alt="Amelie"></div>
      <div class="col-lg-6 offset-lg-1 col-md-7">
        <h2 class="mb-2 text-center text-md-start">About Me</h2>
        <p class="mb-4 pb-2 text-muted text-center text-md-start">I am a full-stack software developer currently pursuing a bachelor's degree in computer science engineering having experience in python, Django, and JavaScript. I thoroughly understand the requirements for solid builds and always strive to provide the best infrastructural safe solutions which facilitate growth and scaling. My expertise includes automation, migrations, deployment, and team management. I am passionate about building ideas, especially when they empower others to improve their quality of life.</p>
        
      </div>
    </div>
  </section>
{% endblock content %}