{% extends '_base.html' %}

{% load static %}

{% block content %}
<section class="pt-0 pt-lg-5 position-relative overflow-hidden my-auto">

	<!-- SVG decoration -->
	
	<!-- SVG decoration -->
	
	<div class="container position-relative">
		<div class="row g-5 align-items-center justify-content-center">
			<div class="col-lg-5">
				<!-- Title -->
				<h1 class="mt-4 mt-lg-0">I am writing something awesome!</h1>
				<!-- info -->
				<p>Hey you! my blog is coming. I am  doing my best to launch this page and I, will be back soon.</p>
				<!-- Progress bar -->

				<!-- Newsletter -->
				
			</div>

			<div class="col-lg-7 text-center">
				<!-- Image -->
				<img src="{% static 'images/coming-soon.svg' %}" class="h-300px h-sm-400px h-md-500px h-xl-700px img-fluid" alt="">
			</div>
		</div>
	</div>
</section>
{% endblock content %}