{% extends '_base.html' %}
{% load static %}


{% block title %}shivam{% endblock title %}
{% block metadescription %} Full stack webdeveloper {% endblock metadescription %}
{% block metakeywords %} fast , scalable , reliable websites with search engine optimization {% endblock metakeywords %}


{% block content %}


{% include 'messages.html' %}
<!--Hero Section-->
<section class="container mb-3 my-md-0 py-5 py-md-6">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5 order-md-1 order-2 text-md-start text-center">
        <h1 class="display-4 mb-lg-4 mb-3 main-hero-text text-muted">Hey, I’m Shivam</h1>
        <h2 class="mb-lg-5 mb-4 text-muted">Full-stack Web Developer&amp; Freelancer</h2>
        <a href="{% url 'portfolio' %}">
          <button type="button" class="btn btn-primary btn-lg rounded-pill hero-button">SEE MY WORK</button>
        </a>
      </div>
      <div class="col-lg-8 col-md-6 order-md-2 order-1 mb-md-0 mb-grid-gutter"><img class="img-fluid" src="{% static 'images/hero-illustration.svg' %}" alt="Illustration"></div>
    </div>
</section>

<!--About me-->


<!--CTA-->
<section class="bg-secondary bg-size-cover py-5 py-md-6" style="background-image: url(/static/images/cta-bg.png);">
    <div class="container py-3 py-md-0">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6 text-center text-md-start">
          <h2 class="mb-4 pb-3 pb-md-0 mb-md-0">Get a free consultation</h2>
        </div>
        <div class="col-lg-7 col-md-6">
          <form class="row needs-validation" novalidate="" method="post">
            {% csrf_token %}
            
            <div class="col-sm-7 col-md-12 col-lg-7 mb-3 mb-lg-0">
              {{ form.senders_email }}
              <div class="invalid-feedback">Please provide a valid email address!</div>
            </div>
            <div class="col-sm-5 col-md-12 col-lg-5">
              <button class="btn btn-primary d-block w-100 rounded-pill" type="submit">Book a Consultation</button>
            </div>
          </form>
          <div class="d-flex align-items-center justify-content-center justify-content-sm-start pt-4 pt-sm-2 pt-md-4"><i class="ai-phone fs-xl me-2"></i><span class="me-2">Or call us</span><a class="nav-link-style" href="tel:+91 7541880639">+91 7541880639</a></div>
        </div>
      </div>
    </div>
  </section>


<!-- Our Services -->
<div class="container py-5 py-md-6 py-lg-7 my-2">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-5 text-center text-md-start mb-5 mb-md-0 ">
            <h2 class="mb-3">Services I Provide</h2>
            <p class="mb-4 pb-2 text-muted textstyle">I provide wide range of services like full-stack Django Web Development, DevOps, and User Experience..</p>
            <a class="btn btn-primary rounded-pill" href="{% url 'about' %}">More about me</a>
        </div>
        <div class="col-lg-8 col-md-7 bg-position-center bg-repeat-0 " style="background-image: url(/static/images/bg-shape.svg);">
            <div class="mx-auto" style="max-width: 610px;">
              <div class="row align-items-center">
                <div class="col-sm-6">
                  <div class="bg-light shadow-lg rounded-3 bordercurv p-4 mb-grid-gutter text-center text-sm-start mb-4"><img class="d-inline-block mb-4 mt-2" src="{% static 'images/01.svg' %}" alt="Icon" width="100">
                    <h3 class="h5 mb-2">Django Web Development</h3>
                    <p class="fs-sm">I am proficient in building roubust solutions from scratch with a focus on clean code with reuseable patterns.</p>
                  </div>
                  <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start mb-4"><img class="d-inline-block mb-4 mt-2" src="{% static 'images/02.svg' %}" alt="Icon" width="100">
                    <h3 class="h5 mb-2">Maintenance and Support</h3>
                    <p class="fs-sm">Successful project doen't stop developing after launch. I provide peace of mind for python and django web product owners. </p>
                  </div>
                  <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start mb-4"><img class="d-inline-block mb-4 mt-2" src="{% static 'images/03.svg' %}" alt="Icon" width="100">
                    <h3 class="h5 mb-2">Frontend Development</h3>
                    <p class="fs-sm">An accessible, thoughtfully considered front-end is key to delivering an enjoyable user experience. </p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start mb-4"><img class="d-inline-block mb-4 mt-2" src="{% static 'images/04.svg' %}" alt="Icon" width="100">
                    <h3 class="h5 mb-2">DevOps, Scaling &amp; Deployment</h3>
                    <p class="fs-sm">I design solutions that are secure, cost effective and scalable as per my clients requirements. </p>
                  </div>
                  <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start mb-4"><img class="d-inline-block mb-4 mt-2" src="{% static 'images/05.svg' %}" alt="Icon" width="100">
                    <h3 class="h5 mb-2">Search Engine optimization</h3>
                    <p class="fs-sm">Good and optimized SEO helps you rank higher in search results and make more people to see your website</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<!--Previos Work-->

  <!--Testimonials-->
  <section class="mt-5 bg-testimonial ">
    
    <h2 class="text-center text-muted" style="font-weight: bold;">What my clients say about me</h2>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner ">
          <div class="carousel-item active ">
            <div class="container">
              <div class="row align-items-center">
                <div class="row justify-content-center">
                    <img class="rounded-circle img-fluid" style="width: 150px;" src="{% static 'images/clients/04.jpg' %}">
                </div>
                <div class="text-center">
                    <h4 class="">Pankaj Kumar</h4>
                    <h6 class="text-center">Founder Coding Scholars</h6>
                    <p class=" text-muted ">"It is always great working with Shivam! The quality, professionalism and timeliness of his work is second to none. Will definitely hire him again!"</p>
                </div>

              </div>
          </div>
          </div>
          
          <div class="carousel-item">
            <div class="container">
                <div class="row align-items-center">
                  <div class="row justify-content-center">
                      <img class="rounded-circle" style="width: 120px;" src="{% static 'images/CK.jpg' %}">
                  </div>
                  <div class="text-center">
                      <h4 class="">Chandrakant Singh</h4>
                      <h6 class="text-center">Founding Chairman CGT</h6>
                      <p class=" text-muted ">Overall very pleased with Shivam .I recommend anyone that is looking for a custom website to give them a call and speak to Shivam, he will guide you in the right direction.</p>
                  </div>

                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev" style="color: black;">
           
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </section>
<!--contact-->

<h2 class="text-center text-muted" style="font-weight: bold;">Contact Me</h2>

<section class="py-7 py-md-9 border-bottom border-gray-300" id="info">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">

        <!-- Button -->
        

      </div>
    </div> <!-- / .row -->
    <div class="row mt-md-5 mb-md-5 pb-md-5 pt-md-5">
      <div class="col-12 col-md-4 text-center border-end border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1" style="font-size: smaller !important;">
          Follow Me
        </h6>

        <!-- Link -->
        <div class="mb-5 mb-md-0">
          <a href="https://twitter.com/Shivam12084" class="h4 text-primary" style="text-decoration: none; font-weight: normal; font-size: larger;">
            On Twitter
          </a>
        </div>

      </div>
      <div class="col-12 col-md-4 text-center border-end border-gray-300">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1" style="font-size: smaller !important;">
          Call anytime
        </h6>

        <!-- Link -->
        <div class="mb-5 mb-md-0">
          <a href="#!" class="h4" style="text-decoration: none; font-weight: normal; font-size: larger;">
            754-418-80639
          </a>
        </div>

      </div>
      <div class="col-12 col-md-4 text-center">

        <!-- Heading -->
        <h6 class="text-uppercase text-gray-700 mb-1" style="font-size: smaller !important;">
          Email us
        </h6>

        <!-- Link -->
        <a href="mailto: shivamsingh12084@gmail.com" class="h4" style="text-decoration: none; font-weight: normal; font-size: larger;">
          shivamsingh12084@gmail.com
        </a>

      </div>
    </div> <!-- / .row -->
  </div>
</section>

<div class=" text-secondary px-4 py-5 text-center" style="background-color: #f7f5f5;">
  <div class="py-5">
    
    <div class="col-lg-6 mx-auto">
      <p class=" mb-4"><h5>Let's talk about your idea.</h5></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{% url 'contact' %}"><button type="button" class="btn  btn-primary rounded-pill px-4 me-sm-3 ">Contact Me</button></a>
      </div>
    </div>
  </div>
</div>


  
{% endblock content %}