{% extends '_base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid ">
  <div class="row justify-content-center border-bottom">
    <div class="col-md-8 col-lg-5">
      <h2 class="text-center" style="font-weight: bold;">My Previous Work</h2>
      <p class="text-center mx-3 text-muted" style="font-size: medium;">I’ve helped many teams to<span style="color: red;">design, build, and launch</span> high-performance web applications</p>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #f7f5f5;">
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 m-md-0 p-md-0">
      <h1 class="display1 text-center text-md-start mx-lg-5 px-lg-5 mx-md-2 px-md-2" style="font-weight: normal;">Coding Scholars</h1>
      <p class="text-center text-md-start mx-lg-5 px-lg-5 mx-md-2 px-md-2">Coding scholars is a startup that provides the best resources and information to college students in the field of computer science and technology. I build and deploy this website from scratch.</p>
      <p class="text-center text-md-start mx-lg-5 px-lg-5 mx-md-2 px-md-2"><a style="text-decoration: none; color: red;" href="https://codingscholars.herokuapp.com">Visit Site</a></p>
    </div>
    
    <div class="col-md-5 d-none d-md-block  m-4">
      <img class="img-fluid" src="{% static 'images/coding scholars.png' %}">
    </div>
  </div>
</div>

<div class="container-fluid" >
  <div class="row align-items-center">
    <div class="col-lg-6 col-md-6 m-md-0 p-md-0">
      <h1 class="display1 text-center text-md-start mx-lg-5 px-lg-5 mx-md-2 px-md-2" style="font-weight: normal;">Chaitanya Gurukul Trust</h1>
      <p class="text-center text-md-start mx-md-2 px-md-2 mx-lg-5 px-lg-5">Chaitanya Gurukul Trust is a Non Profitable organization, working towards the development of education scenarios in the remotest part of the world, especially in the underdeveloped state of India like Bihar. I build this website from scratch. This is under the development stage.</p>
      <p class="text-center text-md-start mx-md-2 px-md-2 mx-lg-5 px-lg-5 "><a style="text-decoration: none; color: red;" href="https://peaceful-journey-86366.herokuapp.com">Visit Site</a></p>
    </div>
    
    <div class="col-md-5 d-none d-md-block  m-4">
      <img class="img-fluid" src="{% static 'images/cgt.png' %}">
    </div>
  </div>
</div>
<div class=" text-secondary px-4 py-5 text-center" style="background-color: #f7f5f5;">
  <div class="py-5">
    
    <div class="col-lg-6 mx-auto">
      <p class=" mb-4"><h5>Visit my GitHub repository for more detailed information about my work history and my contributions.</h5></p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://github.com/shivamsingh12084"><button type="button" class="btn  btn-primary rounded-pill px-4 me-sm-3 ">Visit Repo</button></a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}